absl-py
astor
astunparse
attrs
blinker
brotlipy
clickclick
connexion
dm-tree
Flask
Flask-Cors
flatbuffers
fonttools
google-auth
google-auth-oauthlib
grpcio
hdtorch
imageio
inflection
itsdangerous
Jinja2
jsonschema
jsonschema-specifications
keras
libclang
llvmlite
MarkupSafe
mkl-fft
mkl-service
ml-dtypes
munkres
networkx
ninja
numba
numpy
nvidia-cublas-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
pandas
Pillow
protobuf
pyasn1-modules
pyldpc
pytz
PyYAML
referencing
requests-oauthlib
rpds-py
sip
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
tensorflow-model-optimization
termcolor
torch
Werkzeug
matplotlib
scikit-learn
torch

